.example {
    min-height: 100vh;
    min-width: 100vh;
}

.outer-box {
    width: 128px;
    height: 128px;
    background-color: black;
    position: relative;
    z-index: 10;
}

.inner-box {
    width: 64px;
    height: 64px;
    background-color: gray;
    position: absolute;
    z-index: 0;
}

.move-and-open {
    animation: move-and-open-animation 1s linear;
    animation-fill-mode: forwards;
}

.move-and-lock {
    animation: move-and-lock-animation 1s linear;
    animation-fill-mode: forwards;
}

.opened {
    transform: translateX(0%);
}

.locked {
    transform: translateX(25%);
}

@keyframes move-and-open-animation {
    0% {
        transform: translateX(25%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes move-and-lock-animation {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(25%);
    }
}
